{% extends 'navigation.html' %}
{% load static %}

{% block content %}
    <div class="middle">
        <img class="midimg" src="{% static 'images/FIND YOUR CAR.png' %}" alt="Find Your Car">
        <a href="#" class="explorenow">Explore Now</a>
    </div>
    
    <div class="popularmodels">
        <p id="head">Popular Models</p>
        <div class="cars">
            <div class="car">
                <img src="{% static 'images/new-baleno-front.webp' %}" alt="Baleno">
                <div class="bottom">
                    <div class="ptext">
                        <p>Baleno</p>
                        <p>9.84 Lacs</p>
                    </div>
                    <a class="view" href="#">View</a>
                </div>
            </div>
            <div class="car">
                <img src="{% static 'images/hyundai-creta.webp' %}" alt="Creta">
                <div class="bottom">
                    <div class="ptext">
                        <p>Creta</p>
                        <p>11 Lacs</p>
                    </div>
                    <a class="view" href="#">View</a>
                </div>
            </div>
            <div class="car">
                <img src="{% static 'images/range rover.avif' %}" alt="Range Rover">
                <div class="bottom">
                    <div class="ptext">
                        <p>Range Rover</p>
                        <p>70 Lacs</p>
                    </div>
                    <a class="view" href="#">View</a>
                </div>
            </div>
        </div>
    </div>

    <div class="AboutUs">
        <p id="head">About Us</p>
        <div class="content">
            <img src="{% static 'images/1200px-2019_Toyota_Corolla_Icon_Tech_VVT-i_Hybrid_1.8.jpg' %}" alt="Toyota Corolla">
            <div class="contents">
                <p class="contenttext">
                    Welcome to Carvista—your trusted partner in finding the perfect car! At Carvista, 
                    we believe that choosing a car should be an exciting, 
                    hassle-free experience. Whether you’re looking for the latest models or exploring 
                    pre-owned options, our platform is designed to make your car search as smooth and 
                    efficient as possible.<br>
                    Start your car search today with Carvista—driving your dreams forward!
                </p>
                <a class="discover" href="#">Discover</a>
            </div>
        </div>
    </div>
{% endblock %}
