{% extends 'navigation.html' %}
{% load static %}
{% block content %}

<style>
    .content-container {
        background-color: #26272E; /* Set background color for content block */
        padding: 20px; /* Add some padding for better spacing */
        border-radius: 8px; /* Optional: for rounded corners */
    }

    form {
        margin: 40px;
        font-weight: bold;
        color: white;
    }

    h2 {
        margin-left: 100px;
        padding: 8px;
        color: white; 
        font-family: 'Poppins', sans-serif; 
        font-size: 45px;
    }

    p {
        margin-top: -40px;
        margin-left:90px;
        color: white; /* Changed description color to white */
        font-family: 'Poppins', sans-serif; /* Changed font to Poppins */
    }

    .image-row {
        display: flex; /* Use Flexbox for horizontal layout */
        justify-content: space-around; /* Center images */
        margin-bottom: 10%; /* Spacing at the bottom */
    }

    .image-container {
        margin: 0 10px; /* Add spacing between images */
    }

    .image-container img {
        width: 400px; /* Set width */
        height: 300px; /* Set height */
        border-radius: 8px; /* Rounded corners */
        border: 2px solid #f8f8f8; 
        display: block; 
        margin-top:20px;
    }
</style>

<div class="container-fluid">
    <h2>{{ data.title }}</h2>
</div>
<div class="container content-container">
    <p>Welcome to Carvista, your premier destination for finding the perfect car. Our passion for 
      automobiles drives us to provide an unparalleled car buying experience, where quality meets 
      convenience.

      At Carvista, we believe that purchasing a car should be an exciting and stress-free journey. Our 
      extensive inventory features a wide range of vehicles, from sleek sedans to robust SUVs, ensuring 
      that we have something for everyone. Each car in our showroom is carefully selected and inspected to 
      meet our high standards of quality and performance.
      
    </p>
    <div class="image-row">
        <div class="image-container">
            <img src="{{ data.img1.url }}">
        </div>
        <div class="image-container">
            <img src="{{ data.img2.url }}">
        </div>
    </div>
</div>

{% endblock %}
